target
*.html
!doc/*.html
output.xml
JavaFXLib-*.png
.idea
*.iml
report-images
*.DS_Store

# temporary pom file by shade plugin
dependency-reduced-pom.xml

# TODO: put logs to some other location, e.g. under target that gets cleaned
# docker demo environment robot reports
src/test/robotframework/results/